.dropdown {
  position: relative;
  width: 100%;
  height: 100%;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.625rem;
    padding: 0em 1.25em;
    border: 2px solid var(--text_300);
    border-radius: 0.1875rem;
    background: none;
    color: var(--text_300);
    width: 100%;
    height: 100%;
    font-family: inherit;

    & svg {
      width: 16px;
      height: 16px;
    }

    & svg:last-child {
      width: 12px;
      height: 12px;
    }

    &.active,
    &:focus,
    &:active,
    &:hover {
      color: var(--text_400);
      border-color: var(--text_400);
    }
  }

  &-menu__list {
    animation: sortFadeOut 0.5s;
    position: absolute;
    background: var(--text_100);
    padding: 1em 0.5em;
    width: 100%;
    top: calc(100% + 0.5em);
    border-radius: 0.1875rem;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-500%);
    transition: all 0.4s;
    visibility: hidden;

    @keyframes sortFadeOut {
      from {
        visibility: visible;
        transform: translateY(-500%);
        opacity: 0.5;
      }
      
      to {
        visibility: hidden;
        transform: translateY(-500%);
        opacity: 0;
      }
    }

    &.open {
      animation: sortFadeIn 250ms;
      transition: all 0.5s ease;
      transform: translateY(0);
      visibility: visible;

      @keyframes sortFadeIn {
        from {
          transform: translateY(-5%);
          visibility: visible;
          opacity: 0.5;
        }

        to {
          transform: translateY(0);
          visibility: visible;
          opacity: 1;
        }
      }
    }
    
    &-item {
      width: 100%;
      border: none;
      background: none;
      padding: 1em;
      border-radius: 3px;
      text-align: left;
      font-size: 0.625rem;
      font-family: inherit;

      &:focus,
      &:hover,
      &:active {
        background: var(--text_200);
      }
    }
  }
}

.dark .dropdown {
  &-header {
    &.active,
    &:focus,
    &:active,
    &:hover {
      color: var(--text_100);
      border-color: var(--text_100);
    }
  }

  &-menu__list {
    background: var(--layer_400);
    padding: 0.5em 0.25em;
    
    &-item {
      width: 100%;
      border: none;
      background: none;
      padding: 1em;
      border-radius: 3px;
      text-align: left;
      font-size: 0.625rem;
      color: var(--layer_200);
      
      &:focus,
      &:hover,
      &:active {
        background: var(--layer_300);
        color: var(--text_100);
      }
    }
  }
}

@media screen and (min-width: 540px) {
  .dropdown {
    &-header {
      font-size: 0.75rem;
      padding: 0.75em 1em;
      
      & p {
        margin: 0;
      }
    }
  
    &-menu__list {  
      &-item {
        font-size: 0.75rem;
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .dropdown {
    max-width: 200px; 
  }
}