.input-field {
  display: flex;
  align-items: center;
  transition: all 250ms ease;

  &.showed {
    padding: 0 0.8em;
    background: var(--text_100);
    border-radius: 6px;
  }

  &.showed.not {
    background-color: var(--text_200);
  }

  & input {
    width: 100%;
    background: none;
    border: none;
    font-family: inherit;

    &:focus-visible {
      outline: none;
    }

    &:focus-visible ~ svg {
      color: var(--text_400);
    }
  }

  & svg {
    width: 20px;
    color: var(--text_400);
  }

  & svg.overlay {
    color: var(--text_100);
  }

}

.dark .input-field {
  &.showed { 
    background: var(--layer_400); 
  }

  & svg { 
    color: var(--text_100); 
  }

  & input {
    color: var(--text_100);
    &::placeholder { 
      color: var(--text_100);
      opacity: 0.5; 
    }
    &:focus-visible ~ svg {
      color: var(--text_100)
    }
  }
}