.filter-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.625rem;
  padding: 0em 1.25em;
  border: 2px solid var(--text_300);
  border-radius: 0.1875rem;
  background: none;
  color: var(--text_300);
  width: 100%;
  height: 100%;
  font-family: inherit;

  & svg {
    width: 16px;
    height: 16px;
  }

  & svg:last-child {
    width: 12px;
    height: 12px;
  }

  &.active,
  &:focus,
  &:active,
  &:hover {
    color: var(--text_400);
    border-color: var(--text_400);
  }
}

.dark .filter-header {
  &.active,
  &:focus,
  &:active,
  &:hover {
    color: var(--text_100);
    border-color: var(--text_100);
  }
}