.game-directory {
  padding: 6em 0;
  display: flex;
  flex-direction: column;
  gap: 1.5em;

  & .header {
    padding: 0 1em;

    & h1 {
      max-height: 100%;
      height: 70px;
      width: 100%;
      position: relative;
      border-radius: 6px;
      background-image: radial-gradient(66% 1363.64% at 66% -80.16%, rgba(28, 76, 78, 0.5) 0%, #1C4C4E 100%), url('https://images.unsplash.com/photo-1550745165-9bc0b252726f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--text_100);
      margin: 0;
    }
  }

  & .options {
    display: flex;
    flex-direction: column;
    gap: 1.125em;
  }

  & .options > .toggle-content {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;

    & a {
      text-decoration: none;
      color: var(--text_300);
    }
    
    & .active {
      color: var(--text_400);
      font-weight: bold;
      position: relative;

      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        top: 125%;
        left: 0;
        right: 0;
        background-color: var(--layer_300);
      }
    }
  }

  & .options > .filters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 2.125em;
    gap: 1em;
  }

  & .pagination {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    padding: 0 2.125em;

    & > button {
      padding: 0.625em 1em;
      border: none;
      background-color: var(--text_200);
      border-radius: 0.25em;
      font-family: inherit;
    }
  }
}

.dark .game-directory {
  color: var(--text_100);

  & .toggle-content {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;

    & a {
      text-decoration: none;
      color: var(--text_300);
    }

    & button {
      &:active,
      &:focus {
        color: var(--text_100);
        border-color: var(--text_200);
      }
    }
    
    & .active { color: var(--text_100); }
  }
}

@media screen and (min-width: 540px) {
  .game-directory {
    & .header {
      padding: 0 2em;
    }

    & .toggle-content {
      gap: 2em;
      font-size: 0.8rem;
    }
  }
}

@media screen and (min-width: 700px) {
  .game-directory {
    & .options {
      flex-direction: row-reverse;
      align-items: center;
      padding: 0 3.5em;
      margin: 0;
    }
  
    & .options > .toggle-content {
      flex: 1;
      justify-content: flex-end;

      & .pagination {
        display: flex;
        align-items: center;
        padding: 0;

        & span {
          font-weight: 800;
          padding: 0.25em 0;
        }

        & button {
          padding: 0;
          background: none;

          & svg {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  
    & .options > .filters {
      flex: 1;
      padding: 0;
    }
  }

  .directory {
    & .header {
      & h1 {
        height: 15vh;
        align-items: flex-end;
        justify-content: flex-start;
        padding: 0.6em 0.9em;
        font-size: 2.125rem;
      }
    }
  }

  .dark .game-directory .options > .toggle-content{
    & .pagination {
      & button {
        color: var(--text_100);

        & svg {
          width: 20px;
          height: 20px;
        }

        &:disabled {
          color: var(--text_300);
        }
      }
    }
  }
}

@media screen and (min-width: 830px) {
  .directory {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 0 2em;
    gap: 1em;

    & .game-directory {
      padding: 6em 2.125rem;
      padding-right: 0; 

      & .header,
      & .options,
      & .preview {
        padding: 0;
      }

      & .options .toggle-content {
        padding: 0;
        flex: 2;
        font-size: 0.7rem;
      }
      
      & .options > .filters {
        display: flex;
        flex: 0.8;
      }
    }
    
    & .header {
      & h1 {
        height: 25vh;
        font-size: 3.125rem;
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  .directory > .game-directory > .options .toggle-content {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 1200px) {
  .directory {
    max-width: 1600px;
    grid-template-columns: auto 1fr;
    margin: 0 auto;
  }
}

@media only screen and (min-height: 1300px) and (min-width: 900px) {
  .directory {
    & .header {
      & h1 {
        height: 12vh;
        align-items: flex-end;
        justify-content: flex-start;
        padding: 0.6em 0.9em;
        font-size: 2.125rem;
      }
    }
  }
}