.preview {
  padding: 0 2.125rem;

  & h1 {
    font-size: 1.125rem;
  }

  & .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25em;

    & .card:last-child {
      display: none;
    }

    &.search-grid > .card:last-child {
      display: flex;
    }
  }
}


@media screen and (min-width: 540px) {
  .preview {
    & .cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.25em;

      & .card:last-child {
        display: flex;
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .preview {
    & .cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.25em;
    }
  }

  .preview.one-col {
    & .cards {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (min-width: 1000px) {
  .preview {
    & .cards {
      grid-template-columns: repeat(4, 1fr);

      & .card:last-child {
        display: none;
      }

      &.search-grid > .card:last-child {
        display: flex;
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .preview {
    & .cards {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}

// @media screen and (min-width: 400px) and (max-width: 1000px) {
//   .preview {
//     & .cards {
      
//     }
//   }
// }