.news-overview {
  & .news-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 2.125rem;

    & h1 { font-size: 1.125rem; }
    & span { 
      font-size: 0.625rem; 
      color: var(--text_300);
    }
  }

  & .keen-slider {
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      top: 0;
      right: 0;
      left: 85%;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, 
      rgba(255, 255, 255, 0) 0%,
      var(--text_100) 50%);
    } 

    &::before {
      width: unset;
      right: 85%;
      left: 0;
      background: linear-gradient(270deg, 
      rgba(255, 255, 255, 0) 0%,
      var(--text_100) 250%);
    }
  }

  & .keen-slider > .keen-slider__slide {
    display: flex;
    flex-direction: column;
    gap: 0.3em;

    & img {
      border-radius: 3px;
    }
    
    & h3 {
      font-size: 0.875rem;
      width: 100%;
      margin: 0;
    }

    & p {
      font-size: 0.625rem;
      color: var(--text_300);
      margin: 0;
    }
  }
}

.dark .news-overview {
  color: var(--text_100);

  & .news-header > span,
  & .keen-slider > .keen-slider__slide > p {
    color: var(--text_200);
  }

  & .keen-slider::before {
    background: linear-gradient(270deg, 
    rgba(28, 76, 78, 0) 0%,
    var(--layer_500) 200%);
  }

  & .keen-slider::after {
    background: linear-gradient(90deg, 
    rgba(28, 76, 78, 0) 0%,
    var(--layer_500) 25%);
  } 
}