.news {
  padding: 5em 0;
  display: flex;
  flex-direction: column;

  & .toggle-content {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    padding: 2em 0;

    & a {
      text-decoration: none;
      color: var(--text_300);
    }
    
    & .active {
      color: var(--text_400);
      font-weight: bold;
      position: relative;

      &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        top: 125%;
        left: 0;
        right: 0;
        background-color: var(--layer_300);
      }
    }
  }

  &-slides {
    & h2 {
      padding: 0.5em 2.125em;
      padding-bottom: 0;
      font-size: 0.875rem;
      margin: 0;
      text-align: left;
    }

    & > .keen-slider {
      & .keen-slider__slide.card {
        padding: 1em;
        position: relative;
  
        & img {
          width: 100%;
          min-height: 250px !important;
          height: 250px;
          object-fit: cover;
          border-radius: 0.75rem;
        }

        & h1 {
          position: absolute;
          bottom: 12%;
          left: 10%;
          margin: 0;
          line-height: 100%;
          color: var(--text_100);
        }
        
        &::before {
          content: '';
          position: absolute;
          top: 1em;
          bottom: 1em;
          right: 1em;
          left: 1em;
          border-radius: 0.75rem;
          background: linear-gradient(201.37deg, rgba(28, 76, 78, 0) 8.18%, rgba(13, 19, 33, 0.5) 85.94%);
        }
      }
    }
  }
}

.dark .news {
  color: var(--text_100);

  & .toggle-content .active {
    color: var(--text_100);
  }

  & .keen-slider {
    & .keen-slider__slide.card {
      position: relative;
      
      & img {
        box-shadow: 6px 6px 0px #1C4C4E;
        transition: 1s;
      }
    }
  } 
}

@media screen and (min-width: 700px) {
  .news {
    padding: 6.625em 0;
  
    &-slides {
      & h2 {
        font-size: 1rem;
      }
  
      & > .keen-slider {
        & .keen-slider__slide.card {
          padding: 2em;
          padding-top: 1em;
    
          & img {
            max-height: 350px;
            height: 350px !important;
          }

          &::before {
            top: 1em;
            bottom: 2em;
            right: 2em;
            left: 2em;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .news {
    padding: 6.625em 0;
  
    &-slides {
      & h2 {
        font-size: 1rem;
      }
  
      & > .keen-slider {
        & .keen-slider__slide.card {
          padding-top: 1em;

          & h1 {
            font-size: 3.125rem;
            left: 8%;
          }

          &::before {
            top: 1em;
            bottom: 2em;
            right: 2em;
            left: 2em;
          }
        }
      }
    }
  }

  .dark .news {
    color: var(--text_100);
  
    & .keen-slider {
      & .keen-slider__slide.card {
        & img {
          box-shadow: 10px 10px 0px #1C4C4E;
          transition: 1s;
        }
      }
    } 
  }
}

@media screen and (min-width: 900px) {
  .news {
    display: grid;
    grid-template: auto 1fr / 80% 15%;
    grid-template-areas: 
      'news-slides news-game-cards'
      'news-preview news-game-cards'
    ;
    place-content: flex-start;
    gap: 0.5em 1em;
    margin: 0 auto;
    max-width: calc(1400px + 2.125em);
    
    &-slides {
      grid-area: news-slides;
      padding: 0;
      margin: 0;
      
      & > .keen-slider {
        & .keen-slider__slide.card {
          padding: 1em 2em;
          
          & h1 {
            max-width: 600px;
          }

          & img {
            max-height: 370px;
            height: 370px !important;
          }

          &::before {
            bottom: 1em;
          }
        }
      }
    }

    & > .news-preview {
      grid-area: news-preview;
    }

    & > .preview.one-col {
      grid-area: news-game-cards;
      padding: 0 1em;
    }
  }
}