.navbar {
  position: relative;
  z-index: 2;

  & .header {
    position: absolute;
    top: 2.125rem;
    right: 2.125rem;
    left: 2.125rem;
    display: flex;
    justify-content: space-between;
    gap: 1.125em;
    min-height: 2.125rem;

    & .logo {
      width: 78px;
    }

    &-links,
    &-theme {
      display: none;
    }
  }

  & .links {
    display: flex;
    justify-content: space-around;
    padding: 0.4375rem;
    background-color: var(--layer_100);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    transition: all 250ms ease;

    & .link {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--text_300);
      text-decoration: none;

      & span {
        font-size: 0.5rem;
      }

      &.active {
        color: var(--layer_500);
      }

      &.theme {
        color: var(--layer_300);
        & span { color: var(--layer_300); }
      }
    }
  }
}

.dark .navbar > .links {
  background-color: var(--layer_500);

  & .link {
    color: var(--layer_400);

    & span {
      color: var(--text_300);
    }

    &.active {
      color: var(--layer_300);
      & span { color: var(--text_100); }
    }

    &.theme {
      color: var(--layer_300);
      & span { color: var(--layer_300); }
    }
  }
}

@media screen and (min-width: 700px) {
  .navbar {
    &.overlay {
      color: var(--text_100);
    }
  
    & .header {
      justify-content: space-between;
  
      & .logo {
        width: 78px;
      }

      &-theme {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
        color: var(--text_200);
        padding: 0.5em;
        cursor: pointer;

        & span {
          color: var(--text_100);
          margin-left: 1em;
        }
      }

      &-links {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 1em;

        & > .link {
          text-decoration: none;
          color: var(--text_200);
          font-size: 0.8rem;
        }

        & > .active {
          color: var(--text_100)
        }
      } 
      
    }
  
    & .links.mobile {
      display: none;
    }
  }
}
