.navbar {
  position: relative;
  z-index: 2;

  & .header {
    position: absolute;
    top: 2.125rem;
    right: 2.125rem;
    left: 2.125rem;
    display: flex;
    justify-content: space-between;
    gap: 1.125em;
    min-height: 2.125rem;

    & .logo {
      width: 78px;
    }

    &-links,
    &-theme {
      display: none;
    }
  }

  & .links {
    display: flex;
    justify-content: space-around;
    padding: 0.4375rem;
    background-color: var(--layer_100);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    transition: all 250ms ease;
    box-shadow: 0 12px 25px 0px var(--text_300);

    & .link {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--text_300);
      text-decoration: none;

      & span {
        font-size: 0.5rem;
      }

      &.active {
        color: var(--layer_500);
      }

      &.theme {
        color: var(--layer_300);
        & span { color: var(--layer_300); }
      }
    }
  }
}

.dark .navbar > .links {
  background-color: var(--layer_500);

  & .link {
    color: var(--layer_400);

    & span {
      color: var(--text_300);
    }

    &.active {
      color: var(--layer_300);
      & span { color: var(--text_100); }
    }

    &.theme {
      color: var(--layer_300);
      & span { color: var(--layer_300); }
    }
  }
}

@media screen and (min-width: 700px) {
  .navbar {
    &.overlay {
      color: var(--text_100);
    }
  
    & .header {
      justify-content: space-between;
      gap: 2em;
  
      & .logo {
        width: 78px;
      }

      &-theme {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
        font-weight: 500;
        color: var(--text_300);
        padding: 0.5em;
        cursor: pointer;
        
        & span {
          color: var(--text_300);
          margin-left: 1em;
          font-weight: bold;
          font-weight: 800;
        }
        
        &:hover span { color: var(--text_400); }
      }
      
      &-links {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 1em;
        
        & > .link {
          text-decoration: none;
          color: var(--text_300);
          font-size: 0.8rem;
          font-weight: 500;
        }
        
        & > .active {
          font-weight: 700;
          color: var(--text_400)
        }
      } 
    }
  
    & .links.mobile {
      display: none;
    }
  }

  .navbar.overlay {    
    & .header {
      &-theme {
        color: var(--text_200);

        & span {
          color: var(--layer_200);
        }
      }

      &-links {
        & > .link {
          color: var(--text_200);
        }

        & > .active {
          color: var(--text_100)
        }
      } 
    }
  }

  .dark .navbar.overlay > .header {
    & .header-theme > span {
        color: var(--layer_200);
    }
  }

  .dark .navbar > .header {
    & .header-theme > span {
        color: var(--layer_300);
    }
    & .header-links > .active {
        color: var(--layer_100);
    }
  }
}

@media screen and (min-height: 600px) {
  .navbar.overlay {
    & > .header {
      max-width: calc(800px + 0.625em);
      margin: 0 auto;
    }
  }
}

@media screen and (min-height: 800px) {
  .navbar.overlay {
    & > .header {
      max-width: calc(1000px + 2.125em);
      margin: 0 auto;

      & .logo {
        width: 100px;
        min-width: 78px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    & > .header {
      max-width: calc(1500px + 2.125em);
      margin: 0 auto;

      & .logo {
        width: 100px;
        min-width: 78px;
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .navbar.overlay {
    & > .header {
      min-width: calc(1200px + 2.125em);
    }
  }
}

// @media screen and (min-width: 900px) {
//   .navbar > .header {
//     gap: 2.5em;
//     & .logo {
//       width: 120px;
//       min-width: 78px;
//     }
//   }
// }

// @media screen and (min-width: 1200px) {
//   .navbar {
//     & .header {
//       max-width: calc(1600px - 5rem);
//       margin: 0 auto;
//     }
//   }
// }
