.carousel-wrapper {
  position: relative;

  & .keen-slider.carousel {
    & .keen-slider__slide.slide {
      height: 100vh;
      position: relative;
      transition: height 1s;
      
      & > img {
        min-height: 100%;
        width: 100%;
        object-fit: cover;
        transform: scale(1.02);
        transition: 1s;
      }

      & .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1em;
        position: absolute;
        bottom: 15%;
        left: 0;
        right: 0;
        z-index: 2;

        & h1 {
          margin: 0;
          text-align: center;
          line-height: 100%;
          color: var(--text_100);
          padding: 0 2.125rem;
          text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.15);
        }

        & .description {
          margin: 0;
          display: none;
        }
  
        & .buttons {
          display: flex;
          gap: 0.625rem;
  
          & button {
            padding: 0.8em 1.125em;
            border: 2px solid #FF0000;
            border-radius: 0.375rem;
            background: #FF0000;
            font-size: 0.625rem;
            font-family: inherit;
            color: var(--text_100);
            position: relative;
            
            & svg {
              color: var(--text_100);
              width: 1rem;
              height: 1rem;
              position: relative;
            }

            & .yt-link {
              text-decoration: none;
              color: inherit;
              display: flex;
              align-items: center;
              gap: 0.3rem;
            }
  
            &:hover {
              background: var(--text_100);
              color: var(--text_400);
              border-color: var(--text_100);
              & svg {
                color: #FF0000;
              }
            }
  
            &:last-child {
              border:none;
              background: var(--layer_500);
              padding: 0.8em 2em;
            }
  
            &:last-child:hover {
              color: var(--text_100);
              background: var(--layer_300);
            }
          }
        }

        & .genres {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          gap: 0 0.5em;
          font-size: 0.75rem;
          color: var(--text_200);
        }

        & .ratings {
          display: none;
        }
      }

      &::before {
        content: '';
        width: 100%;
        height: 100%;
        // background: radial-gradient(110.25% 59.87% at 61.87% 40.13%, rgba(21, 24, 29, 0) 0%, rgba(13, 19, 33, 0.25) 0.01%, rgba(0, 0, 0, 0.5) 100%);
        background: radial-gradient(416.04% 59.07% at 50.13% 40.93%, rgba(0, 0, 0, 0) 0%, #0D1321 100%);
        position: absolute;
        opacity: 1;
        bottom: 0;
        z-index: 1;
        transition: 1s;
      }
    }
  }
  & .dots {
    display: flex;
    padding: 10px 0;
    justify-content: center;
    position: absolute;
    bottom: 9.5%;
    width: 100%;

    & .dot {
      border: none;
      width: 2px;
      height: 2px;
      background: var(--text_200);
      border-radius: 50%;
      margin: 0 3px;
      padding: 2px;
      cursor: pointer;
    }
    
    & .dot:focus {
      outline: none;
    }
    
    & .dot.active {
      background: var(--text_100);
    }
  }
}

.dark .carousel-wrapper .keen-slider.carousel .keen-slider__slide.slide {
  &::before {
    background: radial-gradient(297.87% 55.69% at 50.13% 32.5%, rgba(13, 19, 33, 0.5) 0%, #04060B 100%);
  }
}


@media screen and (min-height: 720px) {
  .carousel-wrapper {
    & .keen-slider.carousel {
      & .keen-slider__slide.slide {
        height: 80vh;
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .carousel-wrapper {
    & .dots {
      align-items: center;
      bottom: 3%;
      & .dot {
        width: 5px;
        height: 5px;
        padding: 2px;
      }
      
      & .dot.active {
        padding: 3.5px;
      }
    }

    & .keen-slider.carousel {
      & .keen-slider__slide.slide {
        height: 60vh;

        & .info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          right: 0;
          left: 0;
          bottom: 8%;
          margin: 0 2.5em;
          padding: 1em;
          max-width: 450px;
          gap: 1.125em;

          & h1 {
            padding: 0;
            text-align: left;
            font-size: 2.5rem;
          }

          & .buttons {
            gap: 0.8rem;
    
            & button {
              padding: 0.8em 1.125em;
              font-size: 0.8rem;
            }
          }

          & .genres {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 0 0.5em;
            font-size: 0.8rem;
            color: var(--layer_100);
          }
        }
      }
    }
  }

  .dark .carousel-wrapper .keen-slider.carousel .keen-slider__slide.slide {
    height: 70vh;
  
    &::before {
      background: radial-gradient(65.34% 65.34% at 48.93% 33.09%, rgba(13, 19, 33, 0) 0%, rgba(13, 19, 33, 0.5) 46.35%, #04060B 105%);
      transition: all 5s ease;
    }

    & > img {
      transform: scale(1);
    }
  }
}

@media screen and (min-width: 900px) {
  .carousel-wrapper {
    & .keen-slider.carousel {
      & .keen-slider__slide.slide {
        height: 80vh;

        & .info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          bottom: 0;
          left: 5%;
          right: 0;
          top: 8%;
          padding: 1em;
          max-width: 550px;
          gap: 1.25em;
    
          & h1 {
            padding: 0;
            text-align: left;
            font-size: 3.125rem;
          }

          & .description {
            margin: 0;
            display: block;
            font-size: 0.825rem;
            color: var(--text_100);
            line-height: 150%;
          }

          & .ratings {
            display: flex;
            align-items: center;
            font-size: 0.825rem;
            color: var(--text_100);
            padding: 0.5em 0;
            
            & .rating {
              display: flex;
              align-items: center;
              gap: 0.5em;
              position: relative;
              padding-left: 0.2em;
  
              &::after {
                content: '';
                position: absolute;
                height: 100%;
                width: 2px;
                right: 0;
                background: var(--layer_200);
              }
  
              & svg {
                width: 35px;
                height: 35px;
                color: #FFC700;
              }
            }
  
            & p {
              padding: 0 1em;
              margin: 0;
            }
          }
        }
      }
    }
  }

  .dark .carousel-wrapper .keen-slider.carousel .keen-slider__slide.slide {
    height: 90vh;
  }
}

@media screen and (max-height: 600px) and (max-width: 1100px) {
  .carousel-wrapper {
    & .keen-slider.carousel {
      & .keen-slider__slide.slide {
        height: 90vh;

        & .info {
          gap: 1em;
    
          & h1 {
            font-size: 2.5rem;
          }

          & .description {
            font-size: 0.75rem;
          }

          & .ratings {
            font-size: 0.75rem;
          }

          & .buttons {
            display: flex;
            gap: 0.625rem;
    
            & button {
              font-size: 0.625em;
            }
          }

          & .genres {
            font-size: 0.75rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-height: 1300px) and (min-width: 900px) {
  .carousel-wrapper {
    & .keen-slider.carousel {
      & .keen-slider__slide.slide {
        height: 50vh;
      }
    }
  }
}

@media screen and (min-width: 1500px) {
  .carousel-wrapper {
    & .keen-slider.carousel {
      & .keen-slider__slide.slide {
        & .info {
          left: 10%;
        }
      }
    }
  }
}

@media screen and (min-width: 1700px) {
  .carousel-wrapper {
    & .keen-slider.carousel {
      & .keen-slider__slide.slide {
        & .info {
          left: 15%;
        }
      }
    }
  }
}